body {
    font-family: Inter, sans-serif;
}

.common-information-part span{
    color: purple;
    font-size: 13px;
    letter-spacing: 1.3px;
}

.common-information-part h3 {
    font-size: 25px;
    color: #00234b;
}